body {
    margin: 0;
    position: relative;
}
.form{
    .item{
        margin-bottom: 5px;
        span{
            display: inline-block;
            width: 67px;
            text-align: right;
        }
    }
    .else{
        margin-top: 10px;
    }
}
.outPut{
      border-top: 1px solid red;
      margin-top: 5px;
      .inner{
          padding-left: 40px;
          p{
              margin: 0;
              color: red;
              em{
                  color: blue;
                  font-style: normal;
              }
          }
      }
}